.card-border {
    border: 1px solid #ffc107;
}

.card-header {
    padding-left: 0;
}

.card-body > ul {
    list-style: none;
}

.card-body > ul > li {
    position: relative;
    margin-bottom: 10px;
    line-height: 1.8;
}

.card-body > ul > li::before {
    content: ">";
    left: -30px;
    position: absolute;
    font-weight: bolder;
}