.greeting {
    font-size: 4rem;
}

.section-gap {
    margin-bottom: 20rem;
}

.social {}

.social .hi {
    margin-right: 20px;
}

.social .icon {
    text-align: end;
    font-size: 24px;
    padding: 20px;
    cursor: pointer;
}

.social .icon:hover {
    color: #ffc107;
}