.greeting {
    font-size: 4rem;
}

.social {
    margin-top: 50px;
}

.social .hi {
    margin-right: 50px;
}

.social .icon {
    padding: 20px;
    cursor: pointer;
}

.social .icon:hover {
    color: #ffc107;
}